.baker
{
    max-width: 950px;
    border-radius: 43px;
}

.mv
{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.mvHeader
{
    background-color:#412122;
    color: white;
    width: 100%;
}
.mvBody
{
    font-size: large;
    
}

.fotoGaleria
{
    max-width: 650px;
    max-height: 401px;
}

.cal
{
    max-width: 50px;
    margin-right: 5%;
    margin-left: 5%;
}

.cardPhoto
{
    height: 100%;
}